<aside class="sidebar">

  <div class="logo">
    <h2>ERP</h2>
    <span>Orlando</span>
  </div>

  <nav class="menu">

    <a routerLink="/home" routerLinkActive="active">
      <i class="pi pi-home"></i>
      <span>Home</span>
    </a>

    <a routerLink="/groups" routerLinkActive="active">
      <i class="pi pi-users"></i>
      <span>Groups</span>
    </a>

    <a routerLink="/users" routerLinkActive="active">
      <i class="pi pi-user"></i>
      <span>Users</span>
      <!--<span class="badge">3</span>-->
    </a>

    <a routerLink="/profile" routerLinkActive="active">
      <i class="pi pi-id-card"></i>
      <span>Profile</span>
    </a>

    <div class="app-version">
      <span>ERP v1.0.0</span>
    </div>

  </nav>

</aside>