.kanban{
  display:flex;
  gap:20px;
}

.column{
  flex:1;
  background:#1e1e1e;
  padding:15px;
  border-radius:8px;
}

.ticket{
  background:#2b2b2b;
  padding:10px;
  margin-top:10px;
  border-radius:6px;
}